# .github/CODEOWNERS
*       @pixerael

/.github/                 @pixerael
/.husky/                  @pixerael
/.vscode/                 @pixerael
/common/                  @pixerael
/verdaccio/               @pixerael
/docs/                    @pixerael
/docs/                    @pixerael
/packages/core/           @pixerael
/packages/react/          @pixerael
/examples/yoltra-in-react/ @pixerael
