html, body, #root {
    margin: 0;
    padding: 0;
}

svg.screen {
    --fg: #595959;
    --primary: #267acc;

    position: relative;
    z-index: 1;
    padding: 0;
    width: 100vw;
    height: auto;

    background-color: transparent;

    circle {
        r: 0.1rem;
    }

    circle.group-d,
    circle.group-u {
        fill: var(--fg);
    }

    circle.group-x {
        fill: var(--primary);
    }

    g.powered {
        transform: translate(calc(100% - 12rem), 0.9rem);

        text {
            font-family: var(--font-brand);
            font-size: 0.5rem;
            fill: var(--fg);
            font-weight: bold;
        }
    }
}